@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.background {
    font-family: Inter !important;
    letter-spacing: -0.017em;
    overflow: hidden;
    background-image: url("../images/background.png");
    z-index: 1;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 2653px !important;
    max-width: 1266px;
    margin: auto;
    border-radius: 2em;
    letter-spacing: -0.017em;
}


.navbar-brand {
    color: #FFFFFF !important;
    font-weight: 700 !important;
    font-size: 2em;
    margin: 0!important;
    opacity: 80%;
    margin-left: 0.5em !important;
}
.navbar {
	text-align: center;
    padding-bottom: 0 !important;
}

.navbar-nav {
	align-content: center;
    margin: auto;
    margin-top: 0 !important;
}

.buttonrect,.flask-buttonrect {
    margin: 0 !important;
    width: 6em;
    height: 2.5em;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #000000 -14.74%, rgba(41, 41, 41, 0.6) 132.63%);
    box-shadow: 6.19761px 3.54149px 16.8221px rgba(0, 0, 0, 0.54);
    border-radius: 0.5em;
    text-align: center;
    padding: 0;
    margin-right: 0.5em !important;


}

.buttonrect p {

    margin: auto !important;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    line-height: 30px;

    display: flex;
    letter-spacing: -0.017em;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(238, 238, 238, 0.58) 100%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    

}

.flask-buttonrect {
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 1em;
    color: #e6e6e6;
    line-height: 30px;

    display: flex;
    letter-spacing: -0.017em;
    border: 0 !important;
    margin-right: 0.5em !important;
}

.flask-buttonrect:hover {
    color: #e6e6e6 !important;
}
.nav-button {
    padding: 0;
    margin: 0 !important;
}

#login {
    margin: 0 !important;
    font-weight: 700;
}

.nav-item, .nav-link {
    font-style: normal;
    font-weight: 500;
    color: #393939 !important;
}

.active {
    font-style: normal;
    font-weight: bold;
    color: #000000 !important;
}

.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    border-bottom: 0.15em solid black;
}


#hammer {
    filter: invert(100%);
    transform: scale(2);
    margin-left: 0.4rem;
    position: relative;
    top: -0.2em;
}


.column-image {
    margin: auto;
    display: block;
    user-select: none;
    max-width: 532px;
    max-height: 880px;
}

.column-header {
    /*padding: 0 4.2em;*/
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(97.81deg, #A7CEAA 3.58%, rgba(244, 252, 249, 0.73) 54.85%, rgba(154, 198, 208, 0.876365) 79.61%, #70A0AF 100.52%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin: auto;
    position: relative;
    top: -155px;
}

.column-desc {
    /*padding: 0 8.5em;*/
    font-size: 9px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFFBF;
    letter-spacing: -0.017em;
    position: relative;
    top: -150px;
    width: 138px;
    max-width: 532px;
    margin: auto;
}

@media only screen and (max-width: 991px) {
    .active:after {
        border-bottom: 0 !important;
    }

    .column-header {
        font-size: 45px;
        max-width: 450px !important;
        top: -300px;
    }

    .column-desc {
        font-size: 20px;
        width: 400px;
        top: -290px;
    }
}

#account {
    margin: 0 !important;
    font-weight: 500;
}
