@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    font-family: Inter !important;
    letter-spacing: -0.017em;
}

.navbar {
	text-align: center;
}

.navbar-nav {
	align-content: center;
    margin: auto;
}

#buttonrect {
    margin: 0 !important;
    width: 5em;
    height: 2.5em;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #000000 -14.74%, rgba(41, 41, 41, 0.6) 132.63%);
    box-shadow: 6.19761px 3.54149px 16.8221px rgba(0, 0, 0, 0.54);
    border-radius: 0.5em;
    text-align: center;
    padding: 0 !important;

}

#buttonrect p {

    margin: auto !important;
    font-family: Inter;
    font-style: normal;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    letter-spacing: -0.017em;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(238, 238, 238, 0.58) 100%);
    -webkit-background-clip: text !important;
    color: transparent !important;
    

}

.btn {
    padding: 0;
    margin: 0 !important;
}

#login {
    margin: 0 !important;
}

.nav-item, .nav-link {
    font-style: normal;
    font-weight: 500;
    color: #393939 !important;
}

.active {
    font-style: normal;
    font-weight: bold;
    color: #000000 !important;
}

.active:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    border-bottom: 0.15em solid black;
}