{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <main>
        <form method="post" action="/login" novalidate>
            {{login_form.hidden_tag()}}

            {{login_form.username.label}}<br />
            {{login_form.username(size=32)}}<br />
            {{login_form.password.label}}<br />
            {{login_form.password(size=32)}}<br /><br />

            {% if error %}
                <p style="color:red;">Incorrect username or password</p>
            {% endif %}

            {{login_form.submit(class_="btn nav-button flask-buttonrect")}}
        </form>
    </main>
{% endblock %}