{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block content %}
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="loginModalLabel">Are you sure?</h5>
                    <a href="logout"><button type="button" class="btn btn-primary">Log Out</button></a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <form method="post" action="/main">
                        <button class="btn btn-primary" value="deleteacc" name="deleteacc">Delete Account</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="row">
            <div class="column">
                <h1>Hello, {{user['username']}}!</h1>
            </div>
        </div>
    </main>
{% endblock %}