{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <main>
        <form method="post" action="/signup" novalidate>
            {{signup_form.hidden_tag()}}

            {{signup_form.username.label}}<br />
            {{signup_form.username(size=32)}}<br />
            {{signup_form.email.label}}<br />
            {{signup_form.email(size=32)}}<br />
            {{signup_form.password.label}}<br />
            {{signup_form.password(size=32)}}<br />
            {{signup_form.confirm_password.label}}<br />
            {{signup_form.confirm_password(size=32)}}<br /><br />
            {{signup_form.city.label}}<br />
            {{signup_form.city(size=32)}}<br /><br />

            {% if usererror %}
                <p style="color:red;">Username already exists</p>
            {% endif %}
            {% if emailerror %}
                <p style="color:red;">Email already in use</p>

            {% endif %}
            {{signup_form.submit(class_="btn nav-button flask-buttonrect")}}
        </form>
    </main>
{% endblock %}